:root{
    --primary-color:#00BFFF;
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --border-color:#dbdbdbdb;
    --star-gold-color:#ffce3e;

    --header-height:120px;
    --navbar-height: 34px;
    --header-with-search-height:calc(var(--header-height)-var(--navbar-height));
    --header__sort-bar-height:46px;
}

*{
    box-sizing:inherit;
}

html{
    font-size:62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

p{
    font-size: 1rem;
}

/* Responsive */
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* test */
.grid__column-2{
padding-left: 5px;
padding-right: 5px;
width: 16.66667%;
}
.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
.grid__column-8{
    padding-left: 12px;
    padding-right: 12px;
    width: 83.3334%;
}

/* Asnimation */
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
 
@keyframes growth{
    from{
        transform: scale(var(--growth-from));
    }
    to{
        transform: scale(var(--growth-to));
    }
}
/* Modal */
.modal{
    position:fixed;
    top:0;
    right:0 ;
    bottom:0 ;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal_overlay{
    position:absolute ;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.4);
    /* quyết định lớp  */
    animation:fadeIn ease-in 0.1s ;
}
.modal__body{
   --growth-from:0.7;
   --growth-to:1;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.1s;
}

/* Authen modal */
.auth-form{
    width: 500px;
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--white-color);
}
.auth-form__container{
    padding: 0 32px;
}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}
.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}
.auth-form__swith-btn{
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}
.auth-form__form{
    
}
.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4 rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none;
}
.auth-form__input:focus{
    border-color: #777;
}
.auth-form__aside{
    margin-top: 20px;
}
.auth-form__policy-text{
    font-size: 1.2 rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}
.auth-form__text-link{
    color:var( --primary-color);
    text-decoration: none;
}

.auth-form__controls{
    margin-top: 80px;

}

/* Button style */
.btn{
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height:1.6rem ;

}
.btn.btn--normal:hover{
    background-color: rgba(0,0,0,0.1);
}

.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color);
}
.btn--disabled{
    color: #ccc;
    cursor: default;
    filter: brightness();
    background-color: #c3c3c3;
    /* tạo nút vô hiệu hóa */
}
.btn.btn--size-s {
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
}
.auth-form__social-icon{
    font-size: 1.8rem;
}
.auth-form__social-facebook
.auth-form__social-icon {
    color: var(--white-color);
} 
.auth-form__social-facebook{
    color: var(--white-color);
    background-color: #3a5a98; 
}

.auth-form__social-google
.auth-form__social-icon {
   
}

.auth-form__social-title{
    margin: 0 36px;
}
.auth-form_help{
    display: flex;
    justify-content: flex-end;
}
.auth-form_help-link{
    font-size:1.6rem ;
    text-decoration: none;
    color: #939393;
}


/* Selection */
.select-input{
    position: relative;
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.select-input__label{
    font-size: 1.4rem;
}

.select-input__icon{
    font-size: 1.4rem;
    color: rgba(131,131,131);
    position: relative;
    top:1px;
}
.select-input:hover .select-input__list{
display: block;
}
.select-input__list{
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 8px 16px;
    list-style: none;
    display: none;
    z-index: 1;
}
.select-input__link{
    font-size: 1.2rem;
    color:var(--text-color);
    text-decoration: none;
    display: block;
    padding: 4px 0;
}
.select-input__link:hover{
    color: var(--primary-color);
}

/* pagination */

.pagination{
    display: flex;
    align-items: center;
    justify-content:center ;
    list-style: none;
}
.pagination-item{
    margin: 0 12px;
}
.pagination-item--active .pagination-item__link{
    color: var(--white-color);
    background-color:var(--primary-color);
}
.pagination-item--active .pagination-item__link:hover{
background-color: #ed5c3f;
}
.pagination-item__link{
    --height:30px;
    display: block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
    color: #939393;
    min-width: 40px;
    height:var( --height) ;
    line-height:var( --height);
    text-align: center;
    border-radius: 2px;
}

